* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    color: beige;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    position: relative;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    

    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: dimgray;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;


    transition: .3s opacity: 0;
    animation: slideTop .5s .5s ease forwards;
}

.navbar a:hover {
    color: darkred;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color:rgb(38, 36, 48);
    color:white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content h3 {
    font-size: 30px;
    font-weight: 700;


    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h2:nth-of-type(2) {
    margin-bottom: 30px;

}

.home-content h2 span {
    color: darkred;

}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;


    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font: 50px;


    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid darkred;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text text-decoration: none;


    
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

    margin: 30px 15px 15px 0;



}

.home-social a:hover {
    background-color: darkred;
    color: black;
    box-shadow: 0 0 20px darkred;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-txt h2,h4,p{
    padding: 10px;
    margin-left: 7px;
    margin-bottom: 5px;
}

.about h2 span{
    color: yellow;
}
.about-txt h2{
    opacity: 0;
    animation: slideTop ease forwards;
    animation-delay: 1s;
}

.about-txt,button{
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}
.about{
    background-color:rgb(38, 36, 48);
}

.about{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction:column;
    gap: 2rem;
    padding-bottom: 6rem;

}
.about{
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
    gap: 2rem;
    padding bottom: 6rem;
}

.container{
    padding: 90px;
    display: flex inline-block;
    justify-content: center;
    align-items: center;
    
}


div#services.services{
    position:absolute;
    width: 100%;
    
    
    background-color:rgb(38, 36, 48);
    color:white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
   

   
}
  

    

#services{
    color: aliceblue;
    display:flex;
    font-size: 20px;
    line-height: 1-4;
    margin-bottom: 4rem;
    margin-right: 50%;
}
.sub-tittle{
    text-align: center;
    font-size: 60px;
    padding-bottom:70px ;
}
.sub-tittle span{
    color: yellow;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 12px;
    font-weight:12px ;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0,5s;
    box-shadow: 1px 1px 20px yellow,
              1px 1px 40px yellowgreen;

}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    transform: translateY(-10px);
}
.read{
    display:inline-block;
    padding: 12px 28px;
    background-color: yellow;
    border-radius: 40px;
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow;
}
.read:hover{
    background-color: yellow;
    color: black;
    box-shadow: 0 0 20px yellow;
}

    

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    
    position:relative;
    width: 100%;
    background-color:rgb(38, 36, 48);
    color:white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    
}
.container1.Heading1{
    position:relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color:rgb(38, 36, 48);
    color:white;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
div.container1{
    
    position: fixed;
    display-size:cover;
    margin-top: 37%;
    padding: 40px;
    align-items: center;
    display: flex;
    

}
.Heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 20px;
    margin-left: 40px;

}
.Technical-bars .bar{
    margin-top: 40px 0;

}
.Technical-bars.bar:first-child{
    margin-top: 0;
}
.Technical-bars.bar:first-child{
    margin-bottom: 0;
}
.Technical-bars .bar.info{
    margin-bottom: 0;
}
.Technical-bars .bar.info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s liner forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate is cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars.bar.progress-line span{
    height: 100%;
    background-color: yellow;
    position:absolute;
    border-radius: 10px;
    animation: animate is cubic-bezier(1,0,0,5) forwards;
    transform:scaleX(0);
    transform-origin: left ;
    
}
.progress-line.Html span{
    width: 90%;

}

.progress-line.Css span{
    width: 80%;

}
.progress-line.Javascript span{
    width: 67%;

}
.progress-line.Python span{
    width: 86%;

}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -28px;
    animation:showText 0.5s 15s linear forwards ;
    opacity: 0;
}
.progress-line.Html span::after{
    content:90%;

}
.progress-line.Css span::after{
    content:85%;

}
.progress-line.Javascript span::after{
    content:78%;

}
.progress-line.Python span::after{
    content:89%;

}

.progress-line.span::after{
    content:"";
    position: absolute;
    width:0;
    height: 0;
    border:7px solid transparent;
    border-bottom-width:0px ;
    border-right-width: 0px;
    border-top-color: black;
    top:-10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
@keyframes ShowText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars.radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: relative;

}
.relative-bars .relative-bar svg{
    position: absolute;
    top:50px;
    left: 50px;
    transform: translate(-50%,-50%) rotate(-90deg);
    width:120px;
    height: 160px;
}
.radial-bars.radial-bar.progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;

    }
}
.path{
    stroke-width: 10;
    stroke: yellow;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bars percentage{
    position: absolute;
    top:50;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}

.radial-bar .txt{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 500;
    font-weight: 300;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.button {
    display: inline-block;
    padding: 12px 28px;
    background-color: darkred;
    color: black;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow;

}

.button a:hover {
    box-shadow: 0 0 5px darkred,
        0 0 25px darkred, 0 0 50px darkred,
        0 0 100px darkred, 0 0 200px darkred
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;

    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;

    }
}

.button {
    display: inline-block;
    padding: 12px 28px;
    background-color:darkgoldenrod;
    color: black;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
b.button{
    margin-left: 20px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}


